<div class="alumnis delete">
  <h2>Delete Account</h2>

  <%= form_for(@alumni, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this account?</p>

    <p class="reference-name"><%= f.object.email %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Account") %>
    </div>

  <% end %>
</div>
